name: Continuous Integration

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Cache cargo registry
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y libpcap-dev
      - name: Build workspace
        run: cargo build --workspace --verbose
      - name: Build each binary individually
        run: |
          cargo build --release -p profile-assembler
          cargo build --release -p http-collector
          cargo build --release -p tcp-collector
          cargo build --release -p tls-collector
        
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Cache cargo registry
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-
      - name: Check code formatting
        run: cargo fmt -- --check
        
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Cache cargo registry
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y libpcap-dev
      - name: Check lint
        run: |
          cargo clippy --workspace --all-features --all-targets -- \
            -D warnings \
            -D clippy::expect_used \
            -D clippy::unreachable \
            -D clippy::arithmetic_side_effects \
            -D clippy::unwrap_used \
            -D clippy::todo \
            -D clippy::redundant_clone \
            -D clippy::unimplemented \
            -D clippy::missing_panics_doc \
            -D clippy::redundant_field_names
